:host {
  display: block;
}

.app-slideshow {
  width: 100%;
  overflow-x: hidden;
}

.app-slides {
  display: flex;
  transition-property: transform;
}

.app-pagination {
  display: flex;
  justify-content: center;
}
