:host {
  display: block;
}

:host(.underlined) a {
  text-decoration: underline;
}



a {
  width: calc(100% / 3);
  padding: 20px 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
}

a mat-icon {
  margin-right: 5px;
}

.nav-active {
  border-bottom-width: 3px;
  border-bottom-style: solid;
}
